:root {
    --color_1: rgb(255, 255, 255);
    --color_2: #0000004e;
    --color_3: #fff6a5;
    --color_4: rgb(245, 223, 210);
    --color_5: rgb(217, 121, 4);
    --color_6: rgb(242, 217, 141);
    --color_7: rgb(64, 24, 1);
    --color_8: rgb(140, 96, 58);
    --color_9: rgb(242, 208, 167);
    --color_10: rgb(191, 141, 80);
    --color_11: rgb(0, 0, 0);
    --color_12: rgb(252, 246, 239);
    --font_1: montserrat, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font_1);
}

#pi {
    background-image: url(/img/Newton_Navarro_Bridge_Natal_Brazil.jpg);
    background-position: bottom;
}

#pi header a {
    color: white;
}

#pi h1 {
    color: #e0b3bb;
    margin-top: 100px;
}

#pi p {
    color: #f0f8c9;
}

.start_screen_gradient {
    background-color: var(--color_2);
    width: 99vw;
    height: 90vh;
}

.start_screen_gradient h1 {
    color: var(--color_3);
    font-size: 5rem;
}

.start_screen_gradient p {
    color: #fff9c7;
    font-size: 1.3rem;
    text-align: center;
    width: 70%;
    margin-top: 10px;
}

.start_screen_gradient .home_screen_targeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
}

.home_screen_targeting div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_screen_targeting div input {
    width: 300px;
    height: 50px;
    margin: 0px;
    border-radius: 1px;
    border: none;
    background-color: rgba(255, 255, 255, 0.899);
    font-size: 1.5rem;
}

.home_screen_targeting div input:hover {
    border-color: transparent;
}

.filtro {
    height: 20vh;
    width: 80vw;
    margin-top: 28vh;
    background-color: #ffffff;
    border-radius: 3px;
}

.filtro div {
    margin-right: 55%;
}

.filtro a {
    color: #8C4C35;
}

.filtro #di {
    background-color: #c99d8d83;
    padding: 10px;
}

.filtro input {
    background-color: var(--color_1);
    padding: 15px;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    color: black;
    width: 12vw;
}

.filtro form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.start_screen_gradient button {
    border-radius: 1px;
    border-color: transparent;
    padding: 10px;
    margin-left: 5px;
    color: var(--color_1);
    background-color: var(--color_7);
    font-size: 1.3rem;
}


.main_header {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.main_header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 10px;
}

.li_settings:hover .ul_settings  {
    display: flex;
    flex-direction: column;
    background-color: var(--color_5);
    border-radius: 1px;
    margin-top: 5px;
    position: absolute;
}

.li_settings .ul_settings {
    display: none;
}

.main_header nav a,
a {
    text-decoration: none;
    color: var(--color_4);
    margin: 10px;
    font-size: 1.2rem;
}

.main_header nav {
    padding-top: 10px;
}

.main_header nav a:hover {
    text-decoration: underline;
}

.splash_screen {
    width: 99vw;
    height: 90vh;
    background-image: url(/img/por-do-sol-praia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


main {
    background-image: url(/img/background_image_sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_login {
    background-image: url(/img/cactus_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 30vw;
}

.login {
    background-color: var(--color_6);
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

.login h1 {
    color: var(--color_7);
    font-size: 3rem;
    margin-bottom: 50px
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 25vw;
}

.login form input, textarea {
    outline: none;
    font-size: 1.1rem;
    background-color: transparent;
    color: var(--color_8);
    border: transparent;
    border-bottom: 1px solid;
}

.login form textarea {
    border: 1px solid;
}

.login form input::placeholder,
textarea::placeholder {
    color: var(--color_8);
}

.input_address {
    display: flex;
    gap: 10px;
}

.input_address input {
    width: 50%;
}

#input_submit {
    color: var(--color_9);
    background-color: var(--color_7);
    border-radius: 2px;
    border-color: transparent;
    padding: 10px;
}

#input_submit:hover {
    background-image: linear-gradient(90deg, var(--color_7), var(--color_8), var(--color_10));
}

.login p {
    color: var(--color_7);
}

.login a {
    color: var(--color_10);
}

.login a:hover {
    color: var(--color_7);
    text-decoration: underline;
}

.most_rated {
    background-image: url(/img/essa1.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.most_rated h1 {
    font-size: 3.2rem;
    margin-left: 35px;
}

.most_rated .start_screen_gradient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    height: 100%;
    padding: 100px 0px;
}

.images_most_rated-1 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.images_most_rated-1 img {
    width: 680px;
    border-radius: 5px;
}

.images_most_rated {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.images_most_rated img {
    width: 450px;
    height: 300px;
    border-radius: 5px;
}

.most_rated p {
    color: var(--color_6);
    margin-top: 10px;
    font-size: 1.2rem;
}


.categoria {
    padding: 30px;
    background-color: var(--color_12);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    height: 80vh;
}

.categoria h1 {
    font-size: 3.2rem;
    margin-left: 35px;
}

.categoria h2 {
    font-size: 1.2rem;
}

.categoria p {
    color: var(--color_7);
    margin: 10px 0px;
}

.categoria a {
    color: var(--color_5);
    margin: 0px;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: var(--color_9);
}

.mapa div, img {
    height: 300px;
    width: 600px;
}

.mapa div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mapa h1 {
    color: var(--color_5);
    font-size: 3rem;
}

.mapa p {
    color: var(--color_5);
    margin-top: 20px;
}